{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="site_content">
    <h2>Enter New Password</h2>
    <form id="new-password-form" class="form-group">
        {% csrf_token %}
        <input type="hidden" id="uid" value="{{ uid }}">
        <input type="hidden" id="token" value="{{ token }}">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>
        <button type="submit">Reset Password</button>

    </form>
</div>
{% endblock %}